.backendUpdate {
  .modal-title {
    color: #fff;
    font-size: 1.5rem !important;
  }
  .modal-xl {
    width: 95%;
    margin: 10px auto;
  }
  .modal-body {
    padding: 0;
    .head {
      font-weight: 600;
      color: #c2da06 !important;
      font-size: 2rem;
    }
    i.user {
      padding-right: 20px;
      &:before {
        font-size: 5rem;
        color: #c2da06;
      }
    }
    .btn {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .passwordArea {
      position: relative;
      i {
        position: absolute;
        right: 9px;
        top: 10px;
        cursor: pointer;
      }
    }
  }
}
