$primary-color: #c2d82e;

.backendUpdate {
  .modal-title {
    color: #000;
    text-shadow: 1px 1px #f5f5f5;
    .fa {
      color: #000;
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
  .modal-xl {
    width: 95%;
    margin: 10px auto;
  }
  .modal-body {
    padding: 0;
    .head {
      font-weight: 600;
      color: $primary-color !important;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    i.user {
      padding-right: 20px;
      &:before {
        font-size: 5rem;
        color: $primary-color;
      }
    }
    .submit {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .passwordArea {
      position: relative;
      i {
        position: absolute;
        right: 9px;
        top: 10px;
        color: #000;
        cursor: pointer;
        &.good {
          color: $primary-color;
        }
        &.bad {
          color: #ec7070;
        }
      }
    }
    .viewMessages {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      height: 7.5rem;
      align-items: center;
      .title {
        margin-top: -.4rem;
        margin-left: 1rem;
        label {
          cursor: pointer;
        }
      }
    }
    .backendConfigureSection {
      .heading {
        color: $primary-color;
        font-weight: 600;
      }
      .header {
        color: $primary-color;
      }
      .fa {
        font-size: 2.2rem;
        cursor: pointer;
        &.danger {
          color: #f33333;
        }
        &.success {
          color: #40bd40;
        }
      }
      @media (max-width: 767px) {
        .header {
          display: none;
        }
      }
      @media (min-width: 768px) and (max-width: 991px) {
        .header {
          display: none;
        }
      }
    }
    .footer {
      padding: 12px 5px;
      text-align: right;
      background: $primary-color;
      color: #000;
      text-shadow: 1px 1px #f5f5f5;
      font-size: 12px;
      font-style: italic;
    }
  }
}
