.accountPlanner {
  h1,
  h2,
  h3,
  h4 {
    color: #aeaeae;
  }
  .bigWidth {
    overflow-x: auto;
  }
  .chartWrapper {
  }
  svg {
    text {
      fill: #fff;
      font-size: 12px;
    }
  }
}
