@import "../../variable";
.accountPlanner {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-color;
  }
  .bigWidth {
    overflow-x: auto;
  }
  .heading {
    position: relative;
    .title {
      width: 100%;
      text-align: center;
    }
  }
  .static {
    font-weight: bold;
  }
  .fa {
    &.success,
    &.danger {
      cursor: pointer;
      font-size: 2rem;
    }
    &.danger {
      color: $red-color;
    }
  }
  .chartWrapper {
  }
  svg {
    text {
      fill: $white-color;
      font-size: 12px;
    }
    rect {
      fill: $black-color;
    }
  }
  @media only screen and (max-width: 767px) {
    .m-reduce-padding {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .roundedIcon {
    border: solid 1px $fluorescent-color;
    border-radius: 100%;
    padding: 0.5rem;
    cursor: pointer;
  }
  .list-group-item {
    border: 0;
  }
  .react-datetime-picker {
    cursor: pointer;
    .react-datetime-picker__wrapper {
      border:0;
      rect {
        stroke: $fluorescent-color;
      }
    }  
  }
}
.cardWrapper {
  line-height: 3;
  padding: 2rem;
  &:hover, &.active{
    color: $fluorescent-color;
  }
  cursor: pointer;
  .fa {
    font-size: 36px;
    display: block;
  }
}
