@import "../../variable";

.settings {
  .nav {
    border-bottom: 0;
    .nav-link {
      padding: 1rem 0 1rem 0;
      text-align: center;
      transition: 0.5s;
      display: block;
      outline: 0;
      line-height: 3;
      &:hover,
      &:active,
      &:focus {
        color: #fff;
      }
      &.active {
        &:after {
          border-bottom: solid 1px $fluorescent-color;
          width: 100%;
        }
      }
      &:after {
        content: "";
        display: block;
        width: 0%;
        border-bottom: solid 1px $fluorescent-color;
        transition: 0.5s;
      }
    }
  }
  .backendConfigureSection {
    .heading {
      color: $fluorescent-color;
      font-weight: 600;
    }
    .header {
      color: $fluorescent-color;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .fa {
      font-size: 2rem;
      cursor: pointer;
      &.danger {
        color: #f33333;
      }
      &.success {
        color: #40bd40;
      }
    }
    @media (max-width: 767px) {
      .header {
        display: none;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .header {
        display: none;
      }
    }
    .tab-content {
      margin-top: 3rem;
    }
    .totalColumn {
      border-bottom: dashed 1px;
      padding-left: 1rem;
      @media (max-width: 767px) {
        padding-left: 0;
      }
    }
  }
}
