@import "../../../variable";
.userContainer {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto !important;
  z-index: 1;
  background: #111;
  opacity: 0.8;
  &.toggleOff {
    width: calc(100% - 260px);
  }
  &.toggleOn {
    width: 100%;
  }
  .leftMenu {
    padding: 0.3rem 4rem;
    .welcomeText {
      padding: 10px;
      color: $fluorescent-color;
    }
    .userImage {
      border-radius: 100%;
      width: 45px;
      height: 45px;
      cursor: pointer;
    }
  }
  .rightMenu {
    padding: 10px;
    color: $fluorescent-color;
    .signOut {
      font-size: 2rem;
      cursor: pointer;
      border: solid 1px $fluorescent-color;
      padding: 5px 15px;
      border-radius: 5px;
      margin-right: 5px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .userContainer {
    width: 100% !important;
    margin-top: 57px;
    padding: 2.5px 5px;
    padding-left: 0;
    padding-right: 0;
    .rightMenu {
      .signOut {
      }  
    }
    .leftMenu {
      padding: 0.3rem 1rem;
      .welcomeText {
        padding-left: 0;
      }
    }
  }
}
