body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn-bni {
  background: #c2d82e;
  color: #fff;
  &:focus,
  &:hover {
    border: 0;
    outline: 0 !important;
    color: #fff !important;
  }
}
.btn-bni-sm {
  background: #333;
  color: #c2d82e;
  border-radius: 20px;
  font-size: 1.2rem;
  border: solid 1px #000;
  outline: 0;
}
.downloadIcon {
  &:before {
    color: #b9c134;
    font-size: 30px !important;
  }
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@for $i from 0 through 100 {
  // margin
  .#{"m"}-#{$i} {
    margin: $i#{"px !important"};
  }
  .#{"mr"}-#{$i} {
    margin-right: $i#{"px !important"};
  }
  .#{"ml"}-#{$i} {
    margin-left: $i#{"px !important"};
  }
  .#{"mt"}-#{$i} {
    margin-top: $i#{"px !important"};
  }
  .#{"mb"}-#{$i} {
    margin-bottom: $i#{"px !important"};
  }
  //padding
  .#{"p"}-#{$i} {
    padding: $i#{"px !important"};
  }
  .#{"pr"}-#{$i} {
    padding-right: $i#{"px !important"};
  }
  .#{"pl"}-#{$i} {
    padding-left: $i#{"px !important"};
  }
  .#{"pt"}-#{$i} {
    padding-top: $i#{"px !important"};
  }
  .#{"pb"}-#{$i} {
    padding-bottom: $i#{"px !important"};
  }
  // border-radius
  .#{"br"}-#{$i} {
    -webkit-border-radius: $i#{"px !important"};
    -moz-border-radius: $i#{"px !important"};
    -ms-border-radius: $i#{"px !important"};
    border-radius: $i#{"px !important"};
  }
  // border
  .#{"b"}-#{$i} {
    border: $i#{"px !important"};
  }
  // z-index
  .#{"z"}-#{$i} {
    z-index: $i#{"!important"};
  }
}
.bniToaster {
  .Toastify__toast {
    &.Toastify__toast--success {
      background: #c2d82e;
    }
    color: #fff;
    i {
      &:before{
        margin-left: 0;
        font-size: 16px;
      }
    }
    a {
      color: #fff;
      text-decoration: underline !important;
    }
  }
}
.vcard {
  cursor: pointer;
}
@for $i from 1 through 12 {
  .#{"grid"}-#{$i} {
    display: grid;
    word-wrap: break-word;
    word-break: break-all;
    grid-template-columns: 50px repeat(#{($i)-1}, auto);
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    align-items: center;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  @for $i from 1 through 12 {
    .#{"grid"}-#{$i} {
      grid-template-columns: 50px repeat(#{($i)-1}, auto);
    }
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  @for $i from 1 through 12 {
    .#{"grid"}-#{$i} {
      grid-template-columns: auto;
    }
  }
}
/* Landscape phones and portrait phones */
@media (max-width: 767px) {
  @for $i from 1 through 12 {
    .#{"grid"}-#{$i} {
      grid-template-columns: auto;
    }
  }
  .ReactGridGallery {
    margin-top: 6rem;
  }
}
.capitalize {
  text-transform:capitalize;
}