body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn-bni {
  background: #c2d82e;
  color: #fff;
  &:focus, &:hover {
    border:0;
    outline: 0 !important;
    color: #fff !important;
  }
}
.downloadIcon {
  &:before {
    color: #b9c134;
    font-size: 30px !important;
  }
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

@for $i from 0 through 100 {
  // margin
  .#{"m"}-#{$i} {
    margin: $i#{"px !important"};
  }
  .#{"mr"}-#{$i} {
    margin-right: $i#{"px !important"};
  }
  .#{"ml"}-#{$i} {
    margin-left: $i#{"px !important"};
  }
  .#{"mt"}-#{$i} {
    margin-top: $i#{"px !important"};
  }
  .#{"mb"}-#{$i} {
    margin-bottom: $i#{"px !important"};
  }
  //padding
  .#{"p"}-#{$i} {
    padding: $i#{"px !important"};
  }
  .#{"pr"}-#{$i} {
    padding-right: $i#{"px !important"};
  }
  .#{"pl"}-#{$i} {
    padding-left: $i#{"px !important"};
  }
  .#{"pt"}-#{$i} {
    padding-top: $i#{"px !important"};
  }
  .#{"pb"}-#{$i} {
    padding-bottom: $i#{"px !important"};
  }
  // border-radius
  .#{"br"}-#{$i} {
    -webkit-border-radius: $i#{"px !important"};
    -moz-border-radius: $i#{"px !important"};
    -ms-border-radius: $i#{"px !important"};
    border-radius: $i#{"px !important"};
  }
  // border
  .#{"b"}-#{$i} {
    border: $i#{"px !important"};
  }
  // z-index
  .#{"z"}-#{$i} {
    z-index: $i#{"!important"};
  }

 }
 .bniToaster {
   .Toastify__toast--success {
    background: #a9c106;
   }
 }
 .vcard {
   cursor: pointer;
 }