body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@for $i from 0 through 100 {
  // margin
  .#{"m"}-#{$i} {
    margin: $i#{"px !important"};
  }
  .#{"mr"}-#{$i} {
    margin-right: $i#{"px !important"};
  }
  .#{"ml"}-#{$i} {
    margin-left: $i#{"px !important"};
  }
  .#{"mt"}-#{$i} {
    margin-top: $i#{"px !important"};
  }
  .#{"mb"}-#{$i} {
    margin-bottom: $i#{"px !important"};
  }
  //padding
  .#{"p"}-#{$i} {
    padding: $i#{"px !important"};
  }
  .#{"pr"}-#{$i} {
    padding-right: $i#{"px !important"};
  }
  .#{"pl"}-#{$i} {
    padding-left: $i#{"px !important"};
  }
  .#{"pt"}-#{$i} {
    padding-top: $i#{"px !important"};
  }
  .#{"pb"}-#{$i} {
    padding-bottom: $i#{"px !important"};
  }
 }
 